body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
canvas{
  width:100%;
  height: 100%;
}

#submit img{
  margin:auto;
  display: block;
  width:70%;
}

#submit{
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width:546px;
  height:265px;
  margin-left: -273px; /*half width*/
  margin-top: -132px; /*half height*/
}

#submit input[type=submit]{
  display: block;
  background-color: #555555;
  color: white;
  border: 2px solid #555555;
  font-size: 14px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 5% auto;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

#submit input[type=submit]:hover{
  background-color: white;
  color: black;
}

#canvas{
  z-index: -1;
}

#info{
  position:absolute;
  display: block;
  z-index: 999;
  right:20%;
  top:30%;
  width:225px;
  visibility: hidden;
}

.info h2{
  cursor: pointer;
  font-size: 28px;
}

.info p {
  font-size: 18px;
}
.header{
  padding: 1px;
}
.content{
  display: none;
  padding : 2px;
}
#tumb{
  margin-right: 2%;
  width: 30%;
}

ul{
  margin: 0;
  padding: 2px;
  display: inline-block;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color:grey;
}
