body{
  font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.container{
  text-align: center;
  margin:auto;
  height:100%;

}

.container p {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translateX(-50%) translateY(-30%);
  text-align: left;
  font-size: 20px;
}

li{
  list-style:none;
}
